/* line 1, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
body {
  background: #f8f8f8;
  font: normal 100% "museo"; }

/* line 6, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
header {
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 1.625em 5%;
  width: 100%; }

/* line 17, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
h2 {
  color: #333;
  font: normal 1.728em "futura-pt";
  font-weight: 700;
  margin: 0.64em 0 0.625em 0;
  text-transform: uppercase; }

/* line 25, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
h3 {
  border: 3px solid #ed5f16;
  color: #ed5f16;
  display: inline-block;
  font: normal 0.833em "futura-pt";
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0.3125em 1.25em 0.625em;
  text-transform: uppercase; }

/* line 36, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
strong {
  font-weight: bold; }

/* line 40, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.logo {
  color: #bbb;
  font: normal 1.05em "futura-pt";
  font-weight: 700;
  letter-spacing: 5px;
  margin-right: -5px;
  text-transform: uppercase; }

/* line 48, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.logo a {
  color: #bbb;
  text-decoration: none; }

/* line 53, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.sidebar {
  float: left;
  padding: 5% 5%;
  width: 40%; }

/* line 58, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.avatar {
  border-radius: 100px;
  height: 100px;
  width: 100px; }

/* line 63, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.sidebar p {
  color: #333;
  font: normal 2.986em "futura-pt"; }

/* line 71, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.project-list a {
  color: #fff;
  text-decoration: none; }

/* line 75, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.project-list h3 {
  color: #aaa;
  border: none;
  border-bottom: 1px solid #eee;
  margin: 1.2em 0 0 0;
  padding: 0 0 0.625em 0;
  width: 100%; }

/* line 83, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.project-list ul {
  margin: 1.2em 0 0 0; }

/* line 86, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.project-list ul li {
  float: left;
  font-weight: 700;
  margin: 0 0 0 0.625em; }

/* line 91, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.project-list ul li:first-child {
  margin-left: 0; }

/* line 95, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.portfolio-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #ed531b;
  border: none;
  border-radius: 5px;
  -moz-box-shadow: 0 4px 0 0 #ca3501;
  -webkit-box-shadow: 0 4px 0 0 #ca3501;
  box-shadow: 0 4px 0 0 #ca3501;
  color: #fff;
  cursor: pointer;
  display: block;
  font: 700 1.5rem "futura-pt";
  margin: 1rem 0 0 0;
  padding: 1rem 0;
  text-align: center;
  width: 100%; }
  /* line 113, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .portfolio-button:hover {
    background: #f5551e; }

/* line 118, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.main {
  float: right;
  padding: 5% 5%;
  width: 60%; }

/* line 124, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.articles {
  margin: 4.3em 0 0 0;
  text-align: left; }

/* line 128, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.articles:first-child {
  margin-top: 0; }

/* line 131, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.date {
  color: #aaa;
  font: italic 1em "museo";
  margin: 1.2em 0 0 0; }

/* line 136, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.articles h2 {
  margin-top: 0.694em; }

/* line 139, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.articles h2 a {
  color: #333;
  text-decoration: none; }

/* line 143, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.articles p {
  color: #555;
  font: normal 1.2em "museo";
  line-height: 170%;
  margin: 0.694em 0 0 0; }

/* line 150, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.single-article {
  padding: 0 20% 4.3em;
  width: 100%; }

/* line 154, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.single-article h2 {
  font-size: 2.986em; }

/* line 157, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.single-article h4 {
  color: #555;
  border: none;
  margin: 2.074em 0 0 0;
  padding: 0;
  font: normal 1.44em "futura-pt";
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase; }

/* misc */
/* line 169, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.separator {
  background: #ddd;
  display: block;
  height: 3px;
  margin: 1.25em 0 0 0;
  width: 60px; }

/* clearfix */
/* line 179, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 184, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
.clearfix:after {
  clear: both; }

/* Media Queries */
@media screen and (max-width: 1260px) {
  /* line 190, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .sidebar {
    font-size: 80%; } }
@media screen and (max-width: 1080px) {
  /* line 196, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .single-article h2 {
    font-size: 2.488em; } }
@media screen and (max-width: 1000px) {
  /* line 202, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .sidebar {
    font-size: 70%; } }
@media screen and (max-width: 880px) {
  /* line 208, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  header {
    text-align: center; }

  /* line 212, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .sidebar {
    float: none;
    font-size: 100%;
    width: 100%;
    text-align: center; }

  /* line 219, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .project-list ul {
    border-bottom: 1px solid #eee;
    padding-bottom: 1.2em; }

  /* line 224, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .project-list ul li {
    display: inline;
    float: none; }

  /* line 229, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .main {
    float: none;
    padding-bottom: 4.3em;
    padding-top: 2.986em;
    width: 100%;
    text-align: center; }

  /* line 237, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .articles {
    margin-top: 2.986em; }

  /* line 241, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .single-article {
    padding: 0 5% 4.3em; } }
/* @media screen and (max-width: 870px) { */
/*   .single-article h2 { */
/*     font-size: 2.074em; */
/*   } */
/* } */
@media screen and (max-width: 500px) {
  /* .single-article h2 { */
  /*   font-size: 1.728em; */
  /* } */
  /* line 257, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .single-article h4 {
    font-size: 1.2em; } }
@media screen and (max-width: 430px) {
  /* line 263, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  h2 {
    font-size: 1.2em; }

  /* line 267, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .single-article h4 {
    font-size: 1em; }

  /* line 271, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .sidebar p {
    font-size: 2.074em; }

  /* line 275, /Users/nelsolbatalla/8th_Light/blog/source/stylesheets/main.css.scss */
  .articles p {
    font-size: 1em; } }
